<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul type="square">
            <li><h2>Autoneum</h2> - <h3>(3 años y medio)</h3></li>
            <p>Me desempeñé como planificadora de materiales en una empresa autopartista.</p>
        </ul>
        <ul type="square">
            <li><h2>Linea Diseño Gama</h2> - <h3>(1 mes)</h3></li>
            <p>Realicé la práctica profesional de la tecnicatura en logística en una fábrica de muebles y aberturas.</p>
        </ul>

    </div>
</div>
