<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="foto">
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}Rocío Marisol Vargas Salas</h2>
        <h3>Full Stack Developer Jr</h3>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h2>Acerca de mí</h2>
            <p>Soy técnica en Logística y vivo en Córdoba capital. Argentina Programa es mi primer capacitación en el mundo de la programación</p>
        </span>
    </div>

</div>

